In [1]:
import pandas as pd

## Calculate solar production over reservoirs

In order to do so we will stablished 30% of the reservoir covered by solar pannels

In [3]:
reservoir  = pd.read_csv('data/reservoir.csv')
reservoir

                               zone  surface_km_2           aacc
0                          MIÑO-SIL        121.82        Galicia
1                     GALICIA COSTA         43.81        Galicia
2       CUENCAS INTERNAS PAIS VASCO          1.89     Pais Vasco
3                        CANTÁBRICO         26.78      Cantabria
4                             DUERO        348.72  Castilla-Leon
5                              TAJO        570.21    Extremadura
6                          GUADIANA        864.94    Extremadura
7                      GUADALQUIVIR        376.79      Andalucia
8   CUENCAS MEDITERRÁNEAS ANDALUZAS         56.85      Andalucia
9               GUADALETE Y BARBATE        112.32      Andalucia
10            TINTO,ODIEL Y PIEDRAS         29.76      Andalucia
11                           SEGURA         70.45         Murcia
12                            JUCAR        170.99       Valencia
13                        ALTO EBRO        211.91      Cantabria
14                             EBRO        210.20         Aragon
15     CUENCAS INTERNAS DE CATALUÑA         25.25       Cataluña
16                         BALEARES          1.17       Baleares
17                     GRAN CANARIA          3.60       Canarias
18                    FUERTEVENTURA          0.20       Canarias
19                        LANZAROTE          0.01       Canarias
20                         TENERIFE          0.80       Canarias
21                         LA PALMA          0.26       Canarias
22                           GOMERA          0.30       Canarias
23                        EL HIERRO          0.00       Canarias
24                            CEUTA          0.15          Ceuta

In [4]:
reservoir['03_sufr'] = reservoir['surface_km_2']*0.3

In [5]:
reservoir.sample()

       zone  surface_km_2     aacc  03_sufr
0  MIÑO-SIL        121.82  Galicia   36.546

Average production per m2 of a fotovoltaic pannel = 200 W/m2. Then we will transform it in MW and multiply per 720h, so we will get the average production per zone in MWh as the other data in this project

In [6]:
reservoir['production'] = reservoir['03_sufr']*720

In [7]:
reservoir.sample()

         zone  surface_km_2       aacc  03_sufr  production
3  CANTÁBRICO         26.78  Cantabria    8.034     5784.48

In [8]:
reservoir.to_csv('data/reservoir.csv',index=False)